*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.app-contents {
  background-color: #192329;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
    font-size: 67%;
     overflow-x: hidden;
}
body {
    background-color: #192329; 
    color: white;
    overflow-x: hidden;
}

a {
    color: black; 
    font-size: 1.5rem;
}

.button-back {
    margin-bottom: 2rem;
}

.form-container .input {
    font-size: 1.4rem; 
}
.button-new {
    white-space: nowrap; 
    font-size: 1.2rem; 
    padding: 0.5rem 1rem; 
    width: auto; 
    grid-area: button-new;
    display: flex;
    justify-self: end;
   
    @media screen and (max-width: 768px) {
        font-size: 1rem;
        padding: 0.3rem 0.8rem;
        max-width: 100%; 
        margin-right: 1rem
    }
}



.button {
    display: block; 
    cursor: pointer;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 25px;
    background-color: #559c95;
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-self: center;
   
}
.button-table{
  display: block; 
  cursor: pointer;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 25px;
  background-color: #559c95;
  color: white;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-self: center;

  @media (max-width: 768px) {
   font-size: 0.5rem;
   padding: 0.5rem 1rem;
   .table-icon{
    font-size: 20px;
   }
  }
}

.table-icon{
  font-size: 30px;
}
@media (max-width: 400px) {
 
  .table-icon{
   font-size: 20px;
  }
 }


.button:hover,.button-table:hover {
    background-color: #3a7f78;
}

.image-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.event-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 1rem;
}


.not-account{
  text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 8rem 1.6fr;
    gap: 0px 0px;
    width: 100vw;
    grid-template-areas:
        "button-back . button-new"
        "contents contents contents";
}



.contents {
    grid-area: contents;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    h1 {
        margin-bottom: 4rem;
    }
}

/*--------------------------------------Event Cards----------------------------------*/
.list-container {
    display: flex;
    flex-direction: column;
    li {
        background-color: hsl(220, 13%, 28%);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        min-height: 20rem;
        height: max-content;
        width: 25rem !important;
        margin: 0 auto 2rem;
    
        .event-title {
            text-align: left;
            font-size: 2rem;
            margin-left: 0.5rem;
            h3 {
                font-size: 0.5rem;
                text-transform: capitalize;
               
            }
        }
        .event-description,
        .event-info {
            font-size:1.5rem;
            margin-left: 0.5rem;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            button {
                &:first-of-type {
                    margin-right: 2rem;
                }
            }
        }
    }

    
    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
        gap: 2rem;
        width: 60rem;
        margin: 0 auto;

    }

    @media only screen and (min-width: 992px) {
        grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
        width: 120rem;
    }
}

 /*--------------------------------------Event Cards----------------------------------*/

.form-container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    .label {
        margin-bottom: 0.5rem;
        align-self: flex-start;
    }

    .input {
        width: 40vw;
        margin-bottom: 2rem;
        text-align: center;
        align-self: end;
    }

}

.update-container {
    position:relative;
    top: 4rem;
    left: 0;
    height:fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);

    .update-contents {
        display: grid;
        grid-template-areas:
            "close"
            "form";

        background-color: hsl(220, 13%, 28%);
        padding: 1rem 4rem 4rem;
        border-radius: 0.5rem;
        width: 50vw;
       
        .label{
            align-self: center;
        }

        .close {
            grid-area: close;
            color: white;
            font-weight: 700;
            display: flex;
            justify-content:center;
            margin-top: 4rem;
            cursor: pointer;
        }

        .contents {
            grid-area: form;
        }
    }
    @media (max-width: 767px) {
        .update-container {
          top: 2rem;
          left: 0;
          width: 100vw; 
          padding: 1rem;
          overflow-x: hidden; 
        }
        .input{
            width: 70vw;
        }
      
        .update-contents {
          padding: 1rem 1rem 1rem;
          width: 80vw; 
        }
      
        .close {
          margin-top: 2rem;
        }
      }
    

}
.list-container li:hover {
    transform:scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem; 
}


.admin-title {
    text-align: center;
}

.events-title {
    text-align: center;
    margin-bottom: 0.8rem;

}

.form-group {
    display: flex; 
    align-items: center; 
    text-align: center; 
    padding: 1px;
}


.label {
    flex:1; 
    font-weight: bold;
    margin-right: 1rem; 
    text-align: left;  
}

.text-container{
    background-color:#192329;
    padding: 5px;
    border-radius: 1rem;
    margin-top: 3px;
}


.input {
    flex: 2; 
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 1.8rem;
    text-align: center; 
    width: 100vw;
}
/* -------------------------------------navbar---------------------------------*/
.navigation {
    position: fixed;
    display: flex;
    z-index: 1000;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 0.5rem 0rem;
    background-color: #000000;
    color: white;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }

  .logo{
    margin-left: 5px;
    width: 40px;
    height: 40px;
  }
  
  .brand-name {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    margin-left: 1rem;
  }
  
  .navigation-menu {
    margin-left: auto;
  }
  
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  
  .navigation-menu li {
    list-style-type: none;
    margin: 0 2rem;
  }
  
  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: white;
  }
  
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #283b8b;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  
  .hamburger:hover {
    background-color: #2642af;
  }
  
  @media screen and (max-width: 550px) {
    .hamburger {
      display: block;
    }
  
    .navigation-menu ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      height: calc(100vh - 60px);
      background-color: rgb(46, 46, 46);
      border-top: 1px solid black;
      display: none;
    }
  
    .navigation-menu li {
      text-align: center;
      margin: 0;
    }
  
    .navigation-menu li a {
      color: white;
      width: 100%;
      padding: 1.5rem 0;
    }
  
    .navigation-menu li:hover {
      background-color: #eee;
    }
  
    .navigation-menu.expanded ul {
      display: block;
    }
    
  }

/* -------------------------------------navbar---------------------------------*/


/* -------------------------------------table---------------------------------*/

table {
    border-collapse: collapse;
    width: 70vw;

  
  /* Style for table header cells */
  th {
    background-color: #559c95;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* Style for alternating rows */
  tr:nth-child(even) {
    background-color: #645b5b;
  }
  
  /* Style for table data cells */
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
    text-align: center;
  }
  @media (max-width: 768px) {
    /* Adjust table font size and padding for smaller screens */
   width: 90vw;
    td,
    th {
      padding: 5px;
      font-size: 16px;
    }
  }

}
  
  /* -------------------------------------table---------------------------------*/





  /* -------------------------------------feedback---------------------------------*/

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(220, 13%, 28%);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 50vw; /* Adjust the width as needed */
  margin: 4rem auto; /* Adjust the margin as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.feedback-form h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}

.feedback-form label {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: white;
}

.feedback-form select {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-top: 0.5rem;
  background-color: white; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
}


.feedback-form textarea {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-top: 0.5rem;
  resize: vertical;
  background-color: white; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
}

.feedback-form .question-container {
  margin-top: 1rem;
  width: 100%;
}

.feedback-form .question-container p {
  font-size: 1.4rem;
  color: white;
}

.feedback-form .question-container input[type="text"] {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-top: 0.5rem;
  background-color: white; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
}

.feedback-form button {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 25px;
  background-color: #559c95;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.feedback-form button:hover {
  background-color: #3a7f78;
}

.feedback-form label {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: white;
}

.feedback-form input[type="password"] {
  font-size: 1.4rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 100%;
  margin-top: 0.5rem;
  background-color: white; /* Adjust the background color as needed */
  color: black; /* Adjust the text color as needed */
}


/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .feedback-form {
      width: 80vw;
      padding: 1rem;
  }

  .feedback-form select,
  .feedback-form textarea,
  .feedback-form .question-container input[type="text"] {
      width: 70vw;
  }

  .feedback-form button {
      margin-top: 2rem;
  }
}

  /* -------------------------------------feedback---------------------------------*/


    /* -------------------------------------attendance---------------------------------*/
    .mark-attendance{
      padding:5rem;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .input-p{
      width:60vw;
      border-radius: 25px;
      height: 30px;
      text-align: center;
    }


    /* -----------------------------Feedback Analysis---------------------------------*/

/* Feedback Analysis Container */
.feedback-analysis {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100vw;
  margin: 4rem auto;
  color: black;
}


/* Add PO or Add PSO Buttons */
.feedback-analysis .add-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.feedback-analysis .add-button-select {
  font-size: 1.2rem;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 50%;
  margin-right: 1rem;
  background-color: white;
  color: black;
}

.feedback-analysis .add-button,
.feedback-analysis .delete-button {
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  background: #3a7f78;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-analysis .add-button:hover,
.feedback-analysis .delete-button:hover {
  background-color: #1a1c1c;
}

.feedback-heading{
  text-align: center;
}

.PO-input {
  width: 10%;
  border-radius: 25px;
  height: 35px;
  text-align: center;
}

.PO-table {
  width: 100%;
  border-collapse: collapse;
}

.PO-table th,
.PO-table td {
  border: 2px solid  #1a1c1c; /* Add borders to table cells */
  padding: 8px;
  text-align: center;
}

.PO-table th {
  color: #000000;
  background-color: transparent; /* Add a background color to table header cells */
  font-weight: bold;
  font-size: 1.5rem;
}


/* Matrix Tables */
.feedback-analysis .matrix-table {
  margin-top: 2rem;
  width: 100%;
 
}

.feedback-analysis .matrix-table th {
  background-color: transparent;
  font-size: 1.5rem;
  color: black;
  padding: 10px;
  text-align: center;
  border: 2px solid  #1a1c1c;
}

.feedback-analysis .matrix-table td {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  border: 2px solid  #101010;
  background-color: white;
}

/* Style the select element */
.matrix-input select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-right: 8px;
  appearance: none;
  background: ghostwhite;
  background-size: 11px;
  background-position: 34px;
  cursor: pointer;
}

h5{
  text-align: left;
}


/* Style the select element when hovered */
.matrix-input select:hover {
  border-color: #007bff;
}

/* Style the select element when it has focus */
.matrix-input select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .feedback-analysis {
    width: 90vw;
    padding: 1rem;
  }

  .feedback-analysis h2 {
    font-size: 1.8rem;
  }

  .feedback-analysis p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .feedback-analysis .add-button,
  .feedback-analysis .delete-button {
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
    margin-left: 10px;
  }

  .PO-input {
    height: 25px;
    
  }

  .feedback-analysis .matrix-table td,
  .feedback-analysis .matrix-table th {
    padding: 5px;
    font-size: 1.4rem;
   
  }
}


    /* -----------------------------Feedback Analysis---------------------------------*/

    /* -----------------------------REPORT HEADER---------------------------------*/
    .report-header{
      text-align: center;
      color: black;
    }
    .report-sub-header {
      display: flex;
      justify-content: space-between;
    }

     /* -----------------------------REPORT HEADER---------------------------------*/

